<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto" style="margin-top: 250px;">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center">
      <h2 class="text-6xl font-extrabold">Découvrez l'équipe !</h2>
      <p class="text-xl text-gray-500 mb-16 mt-5">Voici toutes les personnes qui sont dans le restaurant</p>

  
      <div class="grid md:grid-cols-3 xl:grid-cols-4 gap-x-6 lg:gap-xl-12">
        <div class="mb-12">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHvnT3uT8pYvXg1GNg3bxUfEy_CYU0P2THX48qhJLLeQqY9LnBd_tj1DVboExiEOga09s&usqp=CAU" class="rounded-full mx-auto shadow-lg mb-4" alt=""
            style="max-width: 100px" />
  
          <p class="font-bold mb-2">Pépé Totti</p>
          <p class="text-gray-500">Gérant et pizzaiolo</p>
        </div>
  
        <div class="mb-12">
          <img src="https://cdn.cpt.com.br/imagens/produtos/230px/440029/pizzaiolo.jpg" class="rounded-full mx-auto shadow-lg mb-4" alt=""
            style="max-width: 100px" />
  
          <p class="font-bold mb-2">Giani Ferrol</p>
          <p class="text-gray-500">Pizzaiolo</p>
        </div>
  
        <div class="mb-12">
          <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-full mx-auto shadow-lg mb-4" alt=""
            style="max-width: 100px" />
          <p class="font-bold mb-2">Maria Smith</p>
          <p class="text-gray-500">Senior consultant</p>
        </div>
        <div class="mb-12">
          <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-full mx-auto shadow-lg mb-4" alt=""
            style="max-width: 100px" />
          <p class="font-bold mb-2">Agatha Bevos</p>
          <p class="text-gray-500">Co-founder</p>
        </div>
  

      </div>
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->