<!-- <div class=" flex space-x-16 justify-center">


  <div
    class="relative max-w-md  xl:min-w-0  mb-6 rounded-xl mt-16 w-64"
  >
    <div class="card">
      <div class="card-header mx-4 -mt-6">
        <a
          href="https://www.material-tailwind.com"
          blur-shadow-image="true"
        >
          <img
            class="w-auto rounded-lg"
            src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80"
            alt="tailwind-card-image"
          />
        </a>
      </div>
      <div class="card-body">
        <a href="#">
          <h4 class="font-semibold">Material Design 3</h4>
        </a>
        <p class="opcacity-60 mb-4">
          The time is now for it to be okay to be great. People in this
          world shun people for being great.
        </p>
        <button class="button button-pink" data-ripple-light="true">
          Read More
        </button>
      </div>
    </div>
  </div>



</div> -->

<div tabindex="0" class="focus:outline-none">
  <!-- Remove py-8 -->
  <div class="mx-auto container py-8">
    <div class="text-center">
      <h2 class="text-6xl font-extrabold">Les pizzas</h2>
      <p class="text-xl text-gray-500 mt-5 mb-16">Voici toutes les pizzas de nos chefs</p>
    </div>
    <div class="flex flex-wrap items-center lg:justify-between justify-center">
        <!-- Card 1 -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
            <div>
                <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
            </div>
            <div class="bg-white">
              <div class="p-4">
                  <div class="flex items-center">
                      <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                  </div>
                  <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                  <div class="flex mt-4">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                  </div>
              </div>
            </div>
        </div>
        <!-- Card 1 Ends -->
        <!-- Card 2 -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div>
              <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
          </div>
          <div class="bg-white">
            <div class="p-4">
                <div class="flex items-center">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                </div>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                <div class="flex mt-4">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                </div>
            </div>
          </div>
        </div>
        <!-- Card 2 Ends -->
        <!-- Card 3  -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div>
              <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
          </div>
          <div class="bg-white">
            <div class="p-4">
                <div class="flex items-center">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                </div>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                <div class="flex mt-4">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                </div>
            </div>
          </div>
        </div>
        <!-- Card 3 Ends -->
        <!-- Card 4  -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div>
              <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
          </div>
          <div class="bg-white">
            <div class="p-4">
                <div class="flex items-center">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                </div>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                <div class="flex mt-4">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                </div>
            </div>
          </div>
        </div>
        <!-- Card 4 Ends -->
    </div>
    
    <div class="flex flex-wrap items-center lg:justify-between justify-center pb-10 mt-16">
        <!-- Card 1 -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div>
              <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
          </div>
          <div class="bg-white">
            <div class="p-4">
                <div class="flex items-center">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                </div>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                <div class="flex mt-4">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                </div>
            </div>
          </div>
        </div>
        <!-- Card 1 Ends -->
        <!-- Card 2 -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div>
              <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
          </div>
          <div class="bg-white">
            <div class="p-4">
                <div class="flex items-center">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                </div>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                <div class="flex mt-4">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                </div>
            </div>
          </div>
        </div>
        <!-- Card 2 Ends -->
        <!-- Card 3  -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div>
              <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
          </div>
          <div class="bg-white">
            <div class="p-4">
                <div class="flex items-center">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                </div>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                <div class="flex mt-4">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                </div>
            </div>
          </div>
        </div>
        <!-- Card 3 Ends -->
        <!-- Card 4  -->
        <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
          <div>
              <img alt="person capturing an image" src="https://www.freeiconspng.com/thumbs/pizza-png/pizza-png-23.png" tabindex="0" class="focus:outline-none w-full h-44" />
          </div>
          <div class="bg-white">
            <div class="p-4">
                <div class="flex items-center">
                    <h2 tabindex="0" class="focus:outline-none text-lg font-semibold"><strong>Reine</strong></h2>
                </div>
                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">Crème fraîche légère française, mozzarella, lardons fumés, pommes de terre françaises sautées, Reblochon de Savoie AOP, origan.</p>
                <div class="flex mt-4">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">11,50€</h2>
                </div>
            </div>
          </div>
        </div>
        <!-- Card 4 Ends -->
    </div>
    <div class="mr-auto place-self-center mb-50">
      <a href="/menu" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-red hover:bg-red">
          Voir toutes les pizzas !  
      </a>
  </div>  
</div>
